<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head.ejs') %>
</head>

<body>
    <header>
        <a href="" id="refresh">
            <h1>Rijksmuseum</h1>
        </a>
        <button id="search_btn">
            <i class="fas fa-search"></i>
        </button>
    </header>
    <main>
        <form id="search" class="hidden">
            <fieldset>
                <label for="inputField">Zoek op een naam</label>
                <input type="text" id="inputField">
            </fieldset>
            <button id="submitSearch" onclick="search()">></button>
        </form>
        <form id="filters" action="" class="">
        </form>
        <section id="artItems" class="loading">
            <!-- <p>Er is niks om af te beelden, probeer opnieuw</p>
            <a id="reload" href="">Probeer opnieuw</a> -->

            <% data.forEach(function(item) { %>
            <a href="" class="art" id="<%- item.id %>">
            <article>
                <div>
                    <img src=<%- item.webImage.url.slice(0, -3) + "=s1000" %> alt="<%- item.title %>">
                </div>
                <h2><%- item.title %></h2>
            </article>
            </a>
            <% }) %>
        </section>
        <section id="info_boxes">
            <% data.forEach(function(item) { %>
            <article class="infobox" data-routes="<%- item.id %>" id="info-box_<%- item.id %>">
                <button class="close_popup">
                    <div></div>
                    <div></div>
                </button>
                <div>
                    <img src=<%- item.webImage.url.slice(0, -3) + "=s1000" %> alt="<%- item.title %>">
                </div>
                <h2><%- item.title %></h2>
                <p><%- item.principalOrFirstMaker %></p>
            </article>
            <% }) %>
        </section>
    </main>
</body>

</html>